* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.20);
    --bg-cards: #302F3D;
}

body {
    background-color: #22212C;
    display: flex;
    justify-content: center;
    align-content: center;
}

.container {
    color: #837E9F;
    font-family: Merriweather Sans;
    display: flex;
    width: 1440px;
}

.personalInformation {
    margin-top: 40px;
    margin-left: 40px;

    width: 348px;
}

h1 {
    font-size: 20px;
    font-weight: 700;
    text-align: justify;

    padding-bottom: 20px;
}

h2 {
    font-size: 14px;
    font-weight: 500;
    text-align: justify;
}

h3 {
    font-size: 12px;
    font-weight: 300;
    text-align: justify;
}

/* PROFILE */

.profile {
    border-radius: 20px;
    background: var(--bg-cards);
    box-shadow: var(--box-shadow);
}

.profile img {
    margin: 32px 110px 30px;
    width: 128px;
    border-radius: 128px;
    border: 2px solid #0F0;
}

.information h1 {
    font-size: 23px;
    text-align: center;
    padding-bottom: 10px;
}

.information h3 {
    font-size: 14px;
    text-align: center;
    padding-bottom: 49px;
}

/* EDUCATIONAL BACKGROUND */

.educationalBackground {
    border-radius: 20px;
    background: var(--bg-cards);
    box-shadow: var(--box-shadow);

    margin-top: 30px;
    padding: 30px 40px;
}

.educationalBackground h2 {
    padding-bottom: 5px;
}

.educationalBackground h3 {
    font-size: 14px;
    padding-bottom: 7px;
}

.educationalBackground p {
    font-size: 12px;
    font-weight: 300;
}

/* LINKS */

.links {
    border-radius: 20px;
    background: var(--bg-cards);
    box-shadow: var(--box-shadow);

    margin-top: 30px;

    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 20px;

    padding: 30px 40px;
}

.links li {
    display: flex;
    align-items: center;
    font-size: 13px;
    font-weight: 400;
}

.links li a {
    color: #837E9F;
    padding-left: 20px;
    text-decoration: none;
}

.links li p {
    padding-left: 20px;
}

/* TECHNOLOGIES */

.technologies {
    display: block;
    border-radius: 20px;
    background: var(--bg-cards);
    box-shadow: var(--box-shadow);

    padding: 30px 20px;
    margin-top: 30px;
}

.technologiesList {
    display: grid;
    list-style: none;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 15px 15px;
}

.technologiesList li {
    color: black;
    text-align: center;
    font-size: 10px;
    font-weight: 700;

    border-radius: 30px;
    background: #CB92B1;
}

.technologiesList li p {
    padding-top: 6px;
    padding-bottom: 7px;
}

/* ACADEMIC EXPERIENCE */

.academicExperience {
    display: block;
    border-radius: 20px;
    background: var(--bg-cards);
    box-shadow: var(--box-shadow);

    margin-top: 30px;
    padding: 30px 20px;
}

.academicExperience .academicExperienceList {
    display: flex;
    flex-direction: column;
    gap: 15px;

    padding: 0px 20px;
}

.academicExperienceList li h1 {
    font-size: 14px;
    padding-bottom: 5px;
}

.academicExperienceList li h2 {
    font-size: 13px;
    padding-bottom: 10px;
}

.academicExperienceList li h3 {
    padding-bottom: 7px;
}

.academicExperienceList li p {
    font-size: 12px;
    font-weight: 400;
}

/* CERTIFICATES */

.certificates {
    display: block;
    border-radius: 20px;
    background: var(--bg-cards);
    box-shadow: var(--box-shadow);

    padding: 30px;

    margin-top: 30px;
    margin-bottom: 50px;
}

button {
    border: none;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.1);;

    padding: 8px;
}

button h2 {
    color: #837E9F;
    text-align: center;  

    padding: 0px 15px;
}

/* MAIN */

.main {
    width: 952px;
    margin: 40px 40px auto auto;
}

/* ABOUT ME */

.aboutMe {
    display: block;
    border-radius: 20px;
    background: var(--bg-cards);
    box-shadow: var(--box-shadow);

    padding: 30px;
}

.aboutMe p {
    font-weight: 300;
    text-align: justify;
}

/* WORK EXPERIENCE */

.workExperience {
    display: block;
    border-radius: 20px;
    background: var(--bg-cards);
    box-shadow: var(--box-shadow);

    margin-top: 30px;
    padding: 30px 20px;
}

.workExperienceList {
    display: flex;
    flex-direction: column;
    gap: 15px;

    padding: 0px 20px;
}

.workExperienceList li h1 {
    font-size: 14px;
    padding-bottom: 5px;
}

.workExperienceList li h2 {
    font-size: 13px;
    padding-bottom: 10px;
}

.workExperienceList li h3 {
    font-size: 12px;
    font-weight: 300;
    padding-bottom: 7px;
}

.workExperienceList li p {
    font-size: 12px;
    font-weight: 400;
}

/* MY PROECTS */

.myProjects {
    display: flex;
    align-items: center;
    border-radius: 20px;
    background: var(--bg-cards);
    box-shadow: var(--box-shadow);

    margin-top: 30px;
}

.myProjects h1 {
    padding-top: 30px;
    padding-left: 30px;
    padding-bottom: 30px;
}

.myProjects a {
    color: #837E9F;
    font-family: Merriweather Sans;
    text-decoration: none;
    font-size: 14px;
    font-weight: 400;
    margin-left: auto;
    margin-right: 30px;
}

/* MY PROJECTS LIST */

.myProjectsList {
    display: grid;
    list-style: none;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 30px 30px;

    margin-top: 30px;
}

.myProjectsList li {
    display: block;
    border-radius: 20px;
    background: var(--bg-cards);
    box-shadow: var(--box-shadow);

    padding: 30px;
}

.cardTop {
    display: flex;
    align-items: baseline;
}

.cardTop img {
    margin-right: 16px;
}

.cardMiddle p {
    font-weight: 400;
    font-size: 14px;
    text-align: justify;

    padding-bottom: 20px;
}

.cardBottom {
    display: flex;
    align-items: center;
}

.cardBottom img {
    margin-right: 16px;
}

.cardBottom span {
    display: flex;
    margin-left: auto;
}

/* MY RECENT POSTS */

.myRecentPosts {
    margin-top: 30px;

    padding-top: 30px;
    padding-bottom: 10px;
    padding-left: 30px;

    border-radius: 20px;
    background: var(--bg-cards);
    box-shadow: var(--box-shadow);
}

/* MY RECENT POSTS LIST */

.myRecentPostsList {
    display: flex;
    list-style: none;
    flex-direction: column;
    align-items: center;
    gap: 30px;

    margin-top: 30px;
    margin-bottom: 50px;
}

.myRecentPostsList > li {
    display: flex;
    border-radius: 20px;
    background: var(--bg-cards);
    box-shadow: var(--box-shadow);
    gap: 30px;

    padding: 30px;
}

.imageProfile img {
    width: 128px;
    height: 128px;

    border-radius: 128px;
}

.subjects h1{
    padding-bottom: 5px;
}

.subjects h2{
    padding-bottom: 10px;
}

.subjects h3{
    padding-bottom: 15px;
}

.subjects ul {
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 45px;

    list-style: none;
}

