* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #22212C;
    display: flex;
    justify-content: center;
    align-content: center;
}

#container {
    display: flex;
    border: 1px solid green;
    width: 1440px;
    gap: 60px;
}

#left {
    border: 1px solid blue;
}

#right {
    border: 1px solid red;
    width: 60px;
}

#profile {
    margin: 40px auto auto 40px;
    border-radius: 20px;
    background: #302F3D;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.20);

    width: 348px;
    height: 292px;
}

#profile img {
    margin: 32px 110px 30px;
    width: 128px;
}

#name p{
    font-family: Merriweather Sans;
    color: #837E9F;
    font-size: 23px;
    font-weight: 700;

    margin: 0px 0px 10px;

    text-align: center;
}

#position p {
    color: #837E9F;
    font-family: Merriweather Sans;
    font-size: 13px;
    font-weight: 300;

    text-align: center;
}

#links {
    border-radius: 20px;
    background: #302F3D;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.20);

    margin: 30px auto auto 40px;

    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 20px;

    padding: 30px 40px;
}

#links li {
    display: flex;
    align-items: center;
    color: #837E9F;
    font-family: Merriweather Sans;
    font-size: 13px;
    font-weight: 400;
}

#links li a {
    color: #837E9F;
    padding-left: 20px;
    text-decoration: none;
}

#links li p {
    padding-left: 20px;
}

#technologies {
    border-radius: 20px;
    background: #302F3D;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.20);

    margin: 30px auto auto 40px;

    padding: 30px 20px 15px;

    display: block;
}

#technologies #technologiesTitle {
    color: #837E9F;
    font-family: Merriweather Sans;
    font-size: 20px;
    font-weight: 700;

    padding-bottom: 20px;
}

#technologiesList {
    list-style: none;
    column-count: 3;
    column-gap: 15px;
}

#technologiesList li {
    color: black;
    text-align: center;
    font-family: Merriweather Sans;
    font-size: 10px;
    font-weight: 700;

    border-radius: 30px;
    background: #CB92B1;

    margin-bottom: 15px;
}

#technologies li p {
    padding-top: 6px;
    padding-bottom: 7px;
}