* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #22212C;
    display: flex;
    justify-content: center;
    align-content: center;
}

#container {
    display: flex;
    border: 1px solid green;
    width: 1440px;
    gap: 60px;
}

#left {
    border: 1px solid blue;
    width: 388px;
}

#right {
    border: 1px solid red;
}

#profile {
    margin: 40px auto auto 40px;
    border-radius: 20px;
    background: #302F3D;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.20);
}

#profile img {
    margin: 32px 110px 30px;
    width: 128px;
    border-radius: 128px;
    border: 2px solid #0F0; 
}

#name p{
    font-family: Merriweather Sans;
    color: #837E9F;
    font-size: 23px;
    font-weight: 700;

    text-align: center;
    padding-bottom: 10px;
}

#position p {
    color: #837E9F;
    font-family: Merriweather Sans;
    font-size: 13px;
    font-weight: 300;

    text-align: center;
    padding-bottom: 49px;
}

#educationalBackground {
    color: #837E9F;
    font-family: Merriweather Sans;
    border-radius: 20px;
    background: #302F3D;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.20);

    margin: 30px auto auto 40px;
    padding: 30px 40px;
}

#educationalBackgroundTitle{
    font-size: 20px;
    font-weight: 700;

    padding-bottom: 20px;
}

#institutionName {
    font-size: 14px;
    font-weight: 600;

    padding-bottom: 5px;
}

#Title {
    font-size: 14px;
    font-weight: 500;

    padding-bottom: 5px;
}

#educationalBackgroundTime {
    font-size: 12px;
    font-weight: 300;

    padding-bottom: 2px;
}

#today {
    font-size: 12px;
    font-weight: 300;
}

#links {
    border-radius: 20px;
    background: #302F3D;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.20);

    margin: 30px auto auto 40px;

    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 20px;

    padding: 30px 40px;
}

#links li {
    display: flex;
    align-items: center;
    color: #837E9F;
    font-family: Merriweather Sans;
    font-size: 13px;
    font-weight: 400;
}

#links li a {
    color: #837E9F;
    padding-left: 20px;
    text-decoration: none;
}

#links li p {
    padding-left: 20px;
}

#technologies {
    display: block;
    border-radius: 20px;
    background: #302F3D;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.20);

    padding: 30px 20px;
    margin: 30px auto auto 40px;
}

#technologiesTitle {
    color: #837E9F;
    font-family: Merriweather Sans;
    font-size: 20px;
    font-weight: 700;

    padding-bottom: 20px;
}

#technologiesList {
    display: grid;
    list-style: none;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 15px 15px;
}

#technologiesList li {
    color: black;
    text-align: center;
    font-family: Merriweather Sans;
    font-size: 10px;
    font-weight: 700;

    border-radius: 30px;
    background: #CB92B1;
}

#technologies li p {
    padding-top: 6px;
    padding-bottom: 7px;
}

#workExperience {
    display: block;
    border-radius: 20px;
    background: #302F3D;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.20);

    margin: 30px auto auto 40px;
    padding: 30px 20px;

    color: #837E9F;
    font-family: Merriweather Sans;
}

#workExperienceTitle {
    font-size: 20px;
    font-weight: 700;

    padding-bottom: 20px;
}

#workExperienceList {
    display: flex;
    flex-direction: column;
    gap: 15px;

    padding: 0px 20px;
}

#companyName {
    font-size: 14px;
    font-weight: 700;

    padding-bottom: 4px;
}

#jobTitle {
    font-size: 13px;
    font-weight: 500;

    padding-bottom: 2px;
}

#workTime {
    font-size: 12px;
    font-weight: 300;
}

#description{
    font-size: 12px;
    font-weight: 400;
}

#academicExperience {
    display: block;
    border-radius: 20px;
    background: #302F3D;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.20);

    margin: 30px auto auto 40px;
    padding: 30px 20px;

    color: #837E9F;
    font-family: Merriweather Sans;
}

#academicExperienceTitle {
    font-size: 20px;
    font-weight: 700;

    padding-bottom: 20px;
}

#academicExperienceList {
    display: flex;
    flex-direction: column;
    gap: 15px;

    padding: 0px 20px;
}

